<h2>Детали</h2>

<table class="table">
    <tr>
      <td>
        <%= @range['content'] %>
        <br>
        <br>
        <%# <%= @range %> 
        <span>Добавлен в: </span><%= @range['date_create'] %>
      </td>
    </tr>
</table>