<h1>Разместить новй пост</h1>
<%= @content_text %>
<form action="/new" method="POST">
  <br>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Новый пост</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Введите ваш текст" name="content_text"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-success">Отправить</button>
</form>
